.layout {
  background-color: #1a1a1a;
  color: #fff;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  background-color: #333;
}

#start {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  color: #fba202;
  font-size: 1.5em;
  font-weight: 800;
  text-decoration: none;
}

#end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 0 2rem;
}

/* Profile Dropdown */
.profile-dropdown {
  position: relative;
}

.profile-menu {
  display: block;
  width: 300%;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #242424;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  z-index: 100;
  visibility: hidden;
}

.profile-option {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 0.25rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.profile-option:hover {
  color: #fba202;
}

.profile-dropdown span {
  font-weight: 600;
  color: #fba202;
  cursor: pointer;
}

.profile-menu.expand {
  visibility: visible;
}

.container {
  display: flex;
  width: 100%;
}

/* Sidebar Styling */
.sidebar {
  width: 15%;
  background-color: #242424;
  padding: 2rem;
  border-radius: 10px;
  height: calc(100vh - 4rem);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  padding: 1rem 0;
  cursor: pointer;
}

.dash-links {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 25px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 5px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  header {
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.25em;
  }

  .container {
    flex-direction: column;
  }

  #end {
    gap: 0.75rem;
    padding: 0 0.5rem;
  }

  .hamburger {
    display: flex;
  }

  .sidebar {
    position: absolute;
    width: 50%;
    padding: 1rem;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
