/* Profile Container */
.profile-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Styling */
  .profile-sidebar {
    display: flex;
    flex-direction: column;
    width: 22%;
    border-right: 1px solid rgb(230, 228, 228);
    padding: 20px;
  }
  
  .profile-sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .profile-heading {
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    padding-top: 20px;
  }
  
  .profile-sidebar-nav a {
    text-decoration: none;
    color: black;
  }
  
  .profile-sidebar-nav a h3 {
    border: 1px solid rgb(230, 228, 228);
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  .profile-active {
    color: white;
    background-color: rgb(73, 151, 228);
  }
  
  /* Main Content Styling */
  .profile-main-content {
    flex-grow: 1;
    padding: 50px;
  }
  
  .profile-main-content h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
  }
  
  .profile-flex-items {
    display: flex;
    gap: 20px;
  }
  
  .profile-flex-item {
    flex: 1;
  }
  
  .profile-flex-item h3 {
    font-size: large;
    font-weight: 300;
    padding-bottom: 6px;
  }
  
  .profile-flex-item input {
    width: 100%;
    background-color: #f5f5f5;
    color: #242424;
    padding: 0.15rem 0.5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 17px;
    box-shadow: 0px 10px 5px -18px;
  }
  
  /* Button Styling */
  .profile-buttons {
    margin-top: 20px;
  }
  
  .profile-buttons button {
    width: 100px;
    height: 35px;
    text-align: center;
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    margin-right: 7px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-update {
    background-color: rgb(73, 151, 228);
    color: white;
  }
  
  .btn-cancel {
    background-color: white;
    color: black;
  }
  